body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color:#091c3b;
}


.container-pai {
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: #091c3b;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #091c3b;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

button {
    background-color: #091c3b;
    
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: #133772;
  }